In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [23]:
n_cols = predictors_norm.shape[1]# number of predictors
n_cols

8

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [24]:
model = regression_model()

In [25]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 0s - loss: 252887.3795
Epoch 2/50
 - 0s - loss: 123776.6046
Epoch 3/50
 - 0s - loss: 56388.4494
Epoch 4/50
 - 0s - loss: 24898.9297
Epoch 5/50
 - 0s - loss: 10800.8805
Epoch 6/50
 - 0s - loss: 5194.8076
Epoch 7/50
 - 0s - loss: 3119.8930
Epoch 8/50
 - 0s - loss: 2372.9348
Epoch 9/50
 - 0s - loss: 2105.1649
Epoch 10/50
 - 0s - loss: 1963.8093
Epoch 11/50
 - 0s - loss: 1878.2073
Epoch 12/50
 - 0s - loss: 1800.3027
Epoch 13/50
 - 0s - loss: 1730.6384
Epoch 14/50
 - 0s - loss: 1656.0942
Epoch 15/50
 - 0s - loss: 1585.6345
Epoch 16/50
 - 0s - loss: 1518.9223
Epoch 17/50
 - 0s - loss: 1451.1137
Epoch 18/50
 - 0s - loss: 1389.4212
Epoch 19/50
 - 0s - loss: 1327.2918
Epoch 20/50
 - 0s - loss: 1269.3581
Epoch 21/50
 - 0s - loss: 1213.0107
Epoch 22/50
 - 0s - loss: 1159.5225
Epoch 23/50
 - 0s - loss: 1108.7030
Epoch 24/50
 - 0s - loss: 1060.2462
Epoch 25/50
 - 0s - loss: 1010.3987
Epoch 26/50
 - 0s - loss: 965.1188
Epoch 27/50
 - 0s - loss: 919.1799
Epoch 28/50
 - 0s - loss: 878.4518
Epoch 29/50
 - 0s - loss: 835.7013
Epoch 30/50
 - 0s - loss: 795.7387
Epoch 31/50
 - 0s - loss: 758.8590
Epoch 32/50
 - 0s - loss: 722.8459
Epoch 33/50
 - 0s - loss: 689.2709
Epoch 34/50
 - 0s - loss: 657.5922
Epoch 35/50
 - 0s - loss: 626.1242
Epoch 36/50
 - 0s - loss: 597.1922
Epoch 37/50
 - 0s - loss: 569.8930
Epoch 38/50
 - 0s - loss: 544.8955
Epoch 39/50
 - 0s - loss: 518.9289
Epoch 40/50
 - 0s - loss: 496.5295
Epoch 41/50
 - 0s - loss: 473.1824
Epoch 42/50
 - 0s - loss: 452.3891
Epoch 43/50
 - 0s - loss: 432.7263
Epoch 44/50
 - 0s - loss: 413.9344
Epoch 45/50
 - 0s - loss: 396.5603
Epoch 46/50
 - 0s - loss: 380.2394
Epoch 47/50
 - 0s - loss: 364.8752
Epoch 48/50
 - 0s - loss: 350.3988
Epoch 49/50
 - 0s - loss: 336.8813
Epoch 50/50
 - 0s - loss: 323.7170

In [26]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 168us/step

253.1404600668108

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

253.14047328317707 0.0

In [29]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 589.952053428082
MSE 2: 290.79866872250454
MSE 3: 177.07395826419966
MSE 4: 150.91591664039586
MSE 5: 139.74894462511378
MSE 6: 108.06080533617137
MSE 7: 112.21784217612257
MSE 8: 73.67005384624197
MSE 9: 77.76221006819345
MSE 10: 63.81706618028166
MSE 11: 55.93444147696387
MSE 12: 52.688069661458336
MSE 13: 56.87013577334703
MSE 14: 59.13722804294821
MSE 15: 49.80702735382376
MSE 16: 42.40352800980355
MSE 17: 44.703780597081845
MSE 18: 42.54776252203389
MSE 19: 41.01009776291338
MSE 20: 42.814917147738264
MSE 21: 35.77560942072699
MSE 22: 42.70339889279461
MSE 23: 34.359907847777926
MSE 24: 36.09638347440553
MSE 25: 39.107053929548044
MSE 26: 38.87324017768539
MSE 27: 34.29118958260249
MSE 28: 33.07659536812298
MSE 29: 38.18369396913399
MSE 30: 35.6255247183988
MSE 31: 35.833525907646106
MSE 32: 29.51184565966955
MSE 33: 31.546566861347088
MSE 34: 32.938595953882704
MSE 35: 34.94362595937785
MSE 36: 38.77751213370018
MSE 37: 30.198107274990637
MSE 38: 36.523043154127
MSE 39: 30.906159212674137
MSE 40: 27.974375462454887
MSE 41: 34.54419082345314
MSE 42: 26.362269676233186
MSE 43: 31.082486754482233
MSE 44: 36.10095424713826
MSE 45: 34.38570634909818
MSE 46: 31.598245824424964
MSE 47: 30.115948118438226
MSE 48: 31.558400484350507
MSE 49: 31.27981773549299
MSE 50: 30.033083054625873


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 65.7248305574231
Standard Deviation: 88.2072051535771